* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  text-align: center;
  justify-content: center;
  background-color: #000;
}

a,
button,
input {
  font-family: inherit;
}

input {
  outline: none;
  border: none;
  font-size: 1rem;
}

.header {
  top: 25px;
  right: 0;
  left: 0;
  color: greenyellow;
}

.header span {
  color: antiquewhite;
}

.header div {
  display: flex;
  color: rgba(128, 128, 128, 0.598);
  flex-direction: column;
}

.section--today {
  margin: 80px 0;
  margin-bottom: 30px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 100px 20px;
  border-radius: 0.9rem;
  overflow: hidden;
}

.todo-container input {
  background-color: transparent;
}

.todo-container .icon {
  padding: 0.4em;
  cursor: pointer;
  color: rgb(177, 177, 177);
}

.todo-container .icon.move {
  cursor: move;
}

.todo-container .icon:hover {
  color: rgb(85, 85, 85);
}

.todo-container .title {
  display: flex;
  align-items: center;
  color: antiquewhite;
  text-align: center;
  justify-content: space-between;
  padding: 6px;
  border: 1px solid rgb(83, 83, 83);
  margin: 13px 0;
}

#refresh-todo-icon {
  padding: 0.4em;
  color: greenyellow;
  opacity: 0;
  transition: opacity 120ms;
  animation: refresh-rotation 1s infinite linear;
}

#refresh-todo-icon.active {
  opacity: 1;
}

#refresh-todo-icon i {
  vertical-align: middle;
}

@keyframes refresh-rotation {
  100% {
    transform: rotate(360deg);
  }
}

.todo-container .title p {
  flex-grow: 1;
  font-weight: 600;
}

.add-todo {
  display: flex;
  flex-grow: 0;
  padding: 0;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  margin-top: 0;
  border: 1px solid rgb(83, 83, 83);
}

.add-todo input {
  flex-grow: 1;
  background-color: white;
  font-style: italic;
  width: 90%;
  height: 50px;
  padding: 0 12px;
  margin: 0;
  border-radius: 50px;
}

.todo-container .add-todo .icon {
  justify-content: center;
  align-items: center;
  color: greenyellow;
  padding: 0 10px;
  margin: 0;
  font-size: 24px;
  cursor: pointer;
}

.todo-items-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: relative;
  padding: 0;
  text-align: center;
  justify-content: center;
  border: 2px solid rgb(228, 225, 225);
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  background-color: white;
  padding-left: 1rem;
  justify-content: space-between;
  text-align: center;
}

.todo-item.selected {
  visibility: hidden;
}

.todo-item.highlight {
  background-color: #f4f5cc;
}

.todo-item .input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.todo-item .input-box input {
  height: 100%;
  flex-grow: 1;
}

.todo-item .input-box input.checked {
  text-decoration: line-through;
  color: gray;
}

.clear-completed-container {
  background-color: whitesmoke;
}

.todo-item .input-box .delete {
  position: absolute;
  display: none;
  right: 0;
}

.todo-item .input-box:focus-within .delete {
  display: block;
}

.todo-item .input-box .delete:hover {
  color: crimson;
}

.clear-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  padding: 0.8em;
}

.clear-btn:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  body {
    justify-content: center;
  }

  .header {
    font-size: 28px;
  }

  .header div {
    font-size: 14px;
  }

  .todo-container {
    width: 45rem;
    margin: 100px auto;
  }
}
